/*------------------------------------*\
  #GRID
\*------------------------------------*/

// Adding grid utility classes
// Naming convention based on tailwind

// SCSS Map Structure
// $map-name: (
//      'property': (
//          'class-name': value,
//      ),
// );

// Grid Column Start / End
// https://tailwindcss.com/docs/grid-column
$grid-column-props: (
    'grid-column': (
        'col-auto': auto,
        'col-span-1': span 1 / span 1,
        'col-span-2': span 2 / span 2,
        'col-span-3': span 3 / span 3,
        'col-span-4': span 4 / span 4,
        'col-span-5': span 5 / span 5,
        'col-span-6': span 6 / span 6,
        'col-span-7': span 7 / span 7,
        'col-span-8': span 8 / span 8,
        'col-span-9': span 9 / span 9,
        'col-span-10': span 10 / span 10,
        'col-span-11': span 11 / span 11,
        'col-span-12': span 12 / span 12,
        'col-span-13': span 13 / span 13,
        'col-span-14': span 14 / span 14,
        'col-span-15': span 15 / span 15,
        'col-span-16': span 16 / span 16,
        'col-span-full': 1 / -1,
    ),
    'grid-column-start': (
        'col-start-1': 1,
        'col-start-2': 2,
        'col-start-3': 3,
        'col-start-4': 4,
        'col-start-5': 5,
        'col-start-6': 6,
        'col-start-7': 7,
        'col-start-8': 8,
        'col-start-9': 9,
        'col-start-10': 10,
        'col-start-11': 11,
        'col-start-12': 12,
        'col-start-13': 13,
        'col-start-14': 14,
        'col-start-15': 15,
        'col-start-16': 16,
        'col-start-auto': auto,
    ),
    'grid-column-end': (
        'col-end-1': 1,
        'col-end-2': 2,
        'col-end-3': 3,
        'col-end-4': 4,
        'col-end-5': 5,
        'col-end-6': 6,
        'col-end-7': 7,
        'col-end-8': 8,
        'col-end-9': 9,
        'col-end-10': 10,
        'col-end-11': 11,
        'col-end-12': 12,
        'col-end-13': 13,
        'col-end-14': 14,
        'col-end-15': 15,
        'col-end-16': 16,
        'col-end-auto': auto,
    ),
) !default;

// Creating classes
@include utility-classes($grid-column-props);

// Grid Row Start / End
// https://tailwindcss.com/docs/grid-row
$grid-row-props: (
    'grid-row': (
        'row-auto': auto,
        'row-span-1': span 1 / span 1,
        'row-span-2': span 2 / span 2,
        'row-span-3': span 3 / span 3,
        'row-span-4': span 4 / span 4,
        'row-span-5': span 5 / span 5,
        'row-span-6': span 6 / span 6,
        'row-span-full': 1 / -1,
    ),
    'grid-row-start': (
        'row-start-1': 1,
        'row-start-2': 2,
        'row-start-3': 3,
        'row-start-4': 4,
        'row-start-5': 5,
        'row-start-6': 6,
        'row-start-auto': auto,
    ),
    'grid-row-end': (
        'row-end-1': 1,
        'row-end-2': 2,
        'row-end-3': 3,
        'row-end-4': 4,
        'row-end-5': 5,
        'row-end-6': 6,
        'row-end-auto': auto,
    ),
) !default;

// Creating classes
@include utility-classes($grid-row-props);

// Grid Auto Flow / Grid Auto Columns / Grid Auto Rows
$grid-auto-props: (
    'grid-auto-flow': (
        'grid-flow-row': row,
        'grid-flow-col': column,
        'grid-flow-row-dense': row dense,
        'grid-flow-col-dense': column dense,
    ),
    'grid-auto-columns': (
        'auto-cols-auto': auto,
        'auto-cols-min': min-content,
        'auto-cols-max': max-content,
        'auto-cols-fr': minmax(0, 1fr),
    ),
    'grid-auto-rows': (
        'auto-rows-auto': auto,
        'auto-rows-min': min-content,
        'auto-rows-max': max-content,
        'auto-rows-fr': minmax(0, 1fr),
    ),
) !default;

// Creating classes
// @include utility-classes($grid-auto-props);
